.slider-main {
    width: 800px;
    min-height: 250px;
    margin-top: 35px;
}



.slider-box img {
    width: 100%;
    height: 200px;
}

.slider-main p {
    padding: 10px;
    position: relative;
    left: 75px;
    margin-top: 35px;
    width: 80%;

}
