.slider-main {

    height: 100%;
}

.slider-main .slick-list {

    height: 100%;
}

.slider-main .slick-track {

    height: 100%;
}

.slider-box img {

    height: 100%;
}

.slider-box {

    height: 100%;
}
.slick-slide {

    height: 100%;
}
.slick-slider {
    height: 100%;
}


.slider-box img {
    width: 100%;
    height: 100%;

}

.slider-box a {

    height: 100%;
}


@media all and (min-width: 320px) and (max-width: 600px) {
    .slider-main {
        width: 100%;
        height: 100%;
    }
    
    .slider-main .slick-list {
        width: 100%;
        height: 100%;
    }
    
    .slider-main .slick-track {
        width: 100%;
        height: 100%;
    }
    
    .slider-box img {
        width: 100%;
        height: 100%;
    }
    
    .slider-box {
        width: 100%;
        height: 100%;
    }
    .slick-slide {
        width: 100%;
        height: 100%;
    }
    .slick-slider {
        width: 100%;
        height: 100%;
    }
    
    
    .slider-box img {
        width: 100%;
        height: 100%;
    
    }
    
    .slider-box a {
        width: 100%;
        height: 100%;
    }
}