.Patterns {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
  
.patternsContainer {
  display: grid;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(253, 253, 253, 0.377) 20%, rgba(14, 13, 13, 0.397) 70%);
}
.prodBox {
  width: 150px;
  height: 100px;
}
 .patternsCard {
    padding: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;    
  }

  @media all and (min-width: 320px) and (max-width: 600px){
    .patternsCard {
      padding: 5px;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      gap: 5px;
      row-gap: 22px;
      flex-flow: row wrap;
    }
  }

  @media all and (min-width: 610px) and (max-width: 1000px){
    .patternsCard {
      padding: 5px;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      gap: 5px;
      row-gap: 22px;
      flex-flow: row wrap;
    }
  }