.patternPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  background-image: linear-gradient(133deg, rgba(253, 253, 253, 0.377), rgba(14, 13, 13, 0.397));
}

.patternPageMain p {
font-size: 2rem;
}


.aH {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-width: 120px;
  min-height: 20px;  
  margin: 0;
  padding: 0;
}
.aH p {
  position: relative;
  height: 20px;
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 0;
  top: -5px;
  text-align: center;
  width: 100px;
}
.aH a {display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin: 2px;
}
.aH strong {
  text-align: center;
  color: white;
}