.Items {
    display: grid;
    justify-items: center;
  }
  
.itemsContainer {
    display: grid;
    min-height: 500px;
    width:96%;
    background-color: rgba(197, 241, 186, 0.616);
    align-items: center;
    text-align: center;
  }
  .prodBox {
    width: 150px;
    height: 100px;
  }

  
  ul {
    padding: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-flow: row wrap;
    
  }