
.cardContainer {
    display: grid;
    min-height: 280px;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.imgCard {
    display: grid;
   
    width: 250px;
    height: 280px;
}

.h3 {
    display: grid;
   
    width: 200px;
    color: black;
    text-align: center;
   
    justify-self: center;
}
h3 {
    font-size: 13px;
}

a {
    grid-template-rows:280px 20px;
    display: grid;
    min-height: 300px;
}