
.cardContainerItems {
    display: flex;
    width: 250px;
    height: 280px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 2px 0px 14px 3px rgba(20, 20, 21, 0.2);
    -moz-box-shadow: 2px 0px 14px 3px rgba(20, 20, 21, 0.2);
    box-shadow: 2px 0px 14px 3px rgba(20, 20, 21, 0.2);
}

.cardContainerItems .imgCard {
    display: flex;
    position: absolute;
    width: 250px;
    height: 280px;
    transition: 0.5s;
}

.cardContainerItems .imgCard:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-box-shadow: 2px 0px 14px 9px rgba(20, 20, 21, 0.2);
    -moz-box-shadow: 2px 0px 14px 9px rgba(20, 20, 21, 0.2);
    box-shadow: 2px 0px 14px 9px rgba(20, 20, 21, 0.2);
}


.cardContainerItems .textCard {
    display: block;
    min-width: 20px;
    color: black;
    height: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 23px;
}


.cardContainerItems a {
    display: flex;
    height: 280px;
}