
li {
    display: grid;
    padding: 5px;
    width: 220px;
    height: 250px;
    list-style-type: none;
    background-color: rgb(32, 59, 59);
}

img {
    max-width: 200px;
    height: 200px;
}

h3 {
    color: black;
}