.Main {
  z-index: 2;
  position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgba(253, 253, 253, 0.377) 20%, rgba(14, 13, 13, 0.397) 70%);
  }

  
  
  .mainContainer {
    position: relative;
    left: 0;
     bottom: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .main-to {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .main-text {
    position: relative;
    display: flex;
    max-width: 70vw;
    font-size: 50px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
  }
  .topText {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .topText p {
    z-index: 6;
    position: relative;
    text-align: center;
    right: -30px;
    font-size: 70px;
    color: rgb(165, 32, 158);
    width: 200px;
    height: 90px;
    background: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }
 
  .main-text .h1-1 {
    z-index: 5;
    position: absolute;
    text-align: center;
    display: flex;
    width: 240px;
    height: 220px;
    font-size: 40px;
    border: 1px solid rgb(165, 32, 158);
    transform: rotateZ(-30deg);
    background-color: rgba(165, 32, 158, 0.267);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }


  .box-h1 {
  text-align: center;
  font-size: 40px;
  height: 43px;
 }
 .main-box-color {
  height: 35%;
  width: 100%;
 }

 .main-img {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 30vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .main-in-img {
  width: 100%;
  height: 100%;
 }

 .bottomText {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  align-items: flex-end;
  margin-top: 40px;
  gap: 20px;
  border: 1px solid white;
  padding: 20px;
 }


 .bottomText .bottomTextMiddle {
  position: relative;
  font-size: 30px;
    margin: 50px;
    color: white;
    margin: 0;
 }
 .bottomText span {
  width: 300px;
  position: relative;
  right: 0;
 
 }
 .bottomText .marksMainText2 {
  display: flex;
  position: relative;
   color:black;
   font-size: 45px;
   width: 45px;
   height: 45px;
   margin: 0;
  right: -50%;
 }
.boxLine {
  z-index: 11;
  display: flex;
  width: 330px;
  height: 560px;
  position: relative;
  border-left: 2px solid rgb(165, 32, 158);
  border-top: 2px solid rgb(165, 32, 158);
  transform: rotateZ(5deg);
  left: 0;
  top: -110%;
}
.boxLine1 {
  z-index: 11;
  display: flex;
  width: 330px;
  height: 560px;
  position: relative;
  border-right: 2px solid rgb(165, 32, 158);
  border-bottom: 2px solid rgb(165, 32, 158);
  transform: rotateZ(5deg);
  right: -40px;
  top: -220%;
}



@media all and (min-width: 320px) and (max-width: 600px) {
  .Main {
    width: 100vw;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainContainer {
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    left: 0;
    top: 0;
  }
  .main-text {

    z-index: 1;
    padding: 5px;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .main-img {
    display: flex;
    position: relative;
    width: 90vw;
    margin: 5vw;
  }

  .boxLine {
    position: relative;
    left: 0;
    top: -90%;
  }
  .boxLine1 {
    position: relative;
    left: 0;
    top: -170%;
  }

}
