.Main {
    display: grid;
    justify-items: center;
  }
  
  .mainContainer {
    display: grid;
    min-height: 500px;
    width:96%;
    background-color: rgba(103, 36, 129, 0.274);
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }