.Main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(253, 253, 253, 0.377) 20%, rgba(14, 13, 13, 0.397) 70%);
  }

.simplslider {
  position: absolute;
  width: 100%;
  height: 100%;
  }
  
  .mainContainer {
    display: flex;
    width:100%;
    margin-top: 20px;
    min-height: 400px;
    align-items: center;
    flex-direction: column;
  }

  .right-box {
    display: flex;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    justify-content: space-around;
    flex-direction: row;

  }

  .main-to {
    width: 300px;
    height: 400px;  
  }
  .main-text {
    display: flex;
    max-width: 50%;
    font-size: 50px;
    flex-direction: column;
    height: 100px;
  }
  .topText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .topText p {
    font-size: 35px;
    color: #fffdfd80;
    width: 80px;
  }
 
  .main-text .h1-1 {
    display: flex;
    width: 170px;
    font-size: 40px;
    background-color: rgba(165, 32, 158, 0.267);
  }
  .main-text .h1-2 {
    display: flex;
  
    width: 85px;
    font-size: 40px;
    background-color: rgba(165, 32, 158, 0.267);
  }

 .main-to .main-in1 {
  display: block;
  width: 70%;
  height: 400px;
position: relative;
  top: -400px;
  left: 30%;
  background:rgba(184, 40, 128, 0.295);
  transition: 1s;
 }
 .main-to .main-in2 {
  width: 30%;
  height: 400px;
  position: relative;
  top: -850px;
  right: 0px;
  background:rgba(65, 62, 66, 0.39);
  transition: 1s;
 }


.main-img:hover .main-in1 {
  position: relative;
  transform: translateX(100%);
  top: -400px;
  transition: 1s;
  opacity: 0;
  border-radius: 25px;
  width: 20px;
}

.main-img:hover .main-in2 {
  position: relative;
  transform: translateX(-100%);
  top: -850px;
  transition: 1s;
  opacity: 0;
  border-radius: 25px;
  width: 20px;
}

.main-in2 p {
  position: relative;
  left: 25px;
  margin-top: 50px;
  font-size: 50px;
  color: aliceblue;
 }

  .box-h1 {
  text-align: center;
  font-size: 40px;
  height: 43px;
 }
 .main-box-color {
  height: 35%;
  width: 100%;
 }

 .main-img {
  cursor: pointer;
  width: 340px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(250, 245, 245, 0) 25%, rgba(145, 43, 106, 0.877) 50%,rgba(250, 245, 245, 0) 75%);
 }

 .main-in-img {
  width: 100%;
  height: 100%;
 }

 .bottomText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .bottomText .marksMainText1 {
  display: flex;
  position: relative;
   color:black;
   font-size: 45px;
   width: 45px;
   height: 45px;
   margin: 0;
   left: -50%;
 }

 .bottomText .bottomTextMiddle {
  font-size: 20px;
    margin: 50px;
    color: white;
    margin: 0;
 }
 .bottomText .marksMainText2 {
  display: flex;
  position: relative;
   color:black;
   font-size: 45px;
   width: 45px;
   height: 45px;
   margin: 0;
  right: -50%;
 }

 .main-in-img img {
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(#f7f7f50c, #c303dc 50%, #f7f7f50c);
-webkit-border-image: -webkit-linear-gradient( #f7f7f50c, #c303dc 50%, #f7f7f50c);
border-image: linear-gradient(#f7f7f50c 20%, #c303dc 50%, #f7f7f50c 80%);
border-image-slice: 1;
  -webkit-box-shadow: -5px 5px 12px 7px rgba(7, 7, 7, 0.2);
-moz-box-shadow: -5px 5px 12px 7px rgba(7, 7, 7, 0.2);
box-shadow: -5px 5px 12px 7px rgba(7, 7, 7, 0.2);
 }