* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: italic small-caps bold 16px/2 cursive;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  
}

.App {
  display: grid;
  grid-template-rows:max-content;
  min-height: 100vh;
  gap: 20px;
}




